# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OneDrive temporary files
*.~*